{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}
    <div class="jumbotron">
      <div class="container">
        <h1>JOBPLUS</h1>
        <p>领先的互联网求职、招聘平台</p>
      </div>
    </div>
{% endblock %}

    {% block body %}

<ul class="nav nav-tabs list-title">
  <li role="presentation" class="active"><a href="#">最新职位</a></li>
</ul>

<div class="job-list">


<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="/job/108">
        <b>lallsl</b> <span class="timesince">[3天前]</span>
        <p>经验1 年 学历专科</p>

        <span class="label label-default">jdk</span>

        <span class="label label-default">des</span>

        <span class="label label-default">dfe</span>

        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="/company/80">
          <img class="media-object" src="one logo is in here" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="/company/80">
          <h4 class="media-heading">牛牛企业</h4>
          </a>
          <span class="company-meta">None/None/地址地址地址</span>
          </div>
        </div>
    </div>
</div>



<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="/job/107">
        <b>测试开发</b> <span class="timesince">[4天前]</span>
        <p>经验1 年 学历专科</p>

        <span class="label label-default">1</span>

        <span class="label label-default">2</span>

        <span class="label label-default">3</span>

        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="/company/84">
          <img class="media-object" src="" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="/company/84">
          <h4 class="media-heading">ctct</h4>
          </a>
          <span class="company-meta">//</span>
          </div>
        </div>
    </div>
</div>



<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="/job/106">
        <b>这里是职位名称</b> <span class="timesince">[4天前]</span>
        <p>经验3-5 年 学历博士</p>

        <span class="label label-default">钱少</span>

        <span class="label label-default">活多</span>

        <span class="label label-default">死的早</span>

        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="/company/80">
          <img class="media-object" src="one logo is in here" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="/company/80">
          <h4 class="media-heading">牛牛企业</h4>
          </a>
          <span class="company-meta">None/None/地址地址地址</span>
          </div>
        </div>
    </div>
</div>



<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="/job/105">
        <b>扫地大爷</b> <span class="timesince">[28天前]</span>
        <p>经验不限  学历不限</p>

        <span class="label label-default"></span>

        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="/company/63">
          <img class="media-object" src="" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="/company/63">
          <h4 class="media-heading">仙人有限公司</h4>
          </a>
          <span class="company-meta">None/None/</span>
          </div>
        </div>
    </div>
</div>



<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="/job/103">
        <b>手撕鸡脖员</b> <span class="timesince">[1月前]</span>
        <p>经验5+ 年 学历博士</p>

        <span class="label label-default">java</span>

        <span class="label label-default">钱少</span>

        <span class="label label-default">事多</span>

        <span class="label label-default">任务重</span>

        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="/company/48">
          <img class="media-object" src="" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="/company/48">
          <h4 class="media-heading">大鸡脖科技无限公司</h4>
          </a>
          <span class="company-meta">None/None/</span>
          </div>
        </div>
    </div>
</div>



<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="/job/102">
        <b>测试工程师</b> <span class="timesince">[2月前]</span>
        <p>经验3 年 学历本科</p>

        <span class="label label-default">奋斗史</span>

        <span class="label label-default">打飞的</span>

        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="/company/43">
          <img class="media-object" src="https://static.lagou.com/thumbnail_300x300/i/image/M00/3E/22/CgqKkVdzobeAB7eoAAIUnE7Fe1M567.png" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="/company/43">
          <h4 class="media-heading">实验楼</h4>
          </a>
          <span class="company-meta">在线教育/A轮/成都高新区</span>
          </div>
        </div>
    </div>
</div>



<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="/job/29">
        <b>免费工程师</b> <span class="timesince">[5月前]</span>
        <p>经验3-5 年 学历博士</p>

        <span class="label label-default">来自</span>

        <span class="label label-default">提供</span>

        <span class="label label-default">时候</span>

        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="/company/16">
          <img class="media-object" src="https://static.lagou.com/thumbnail_160x160/i/image2/M00/13/BF/CgotOVnwYgKAQxwQAADd4llXXGw444.png" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="/company/16">
          <h4 class="media-heading">么么直播</h4>
          </a>
          <span class="company-meta">移动互联网,社交网络/A轮/上海</span>
          </div>
        </div>
    </div>
</div>



<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="/job/30">
        <b>觉得工程师</b> <span class="timesince">[5月前]</span>
        <p>经验1-3 年 学历本科</p>

        <span class="label label-default">根据</span>

        <span class="label label-default">公司</span>

        <span class="label label-default">由于</span>

        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="/company/16">
          <img class="media-object" src="https://static.lagou.com/thumbnail_160x160/i/image2/M00/13/BF/CgotOVnwYgKAQxwQAADd4llXXGw444.png" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="/company/16">
          <h4 class="media-heading">么么直播</h4>
          </a>
          <span class="company-meta">移动互联网,社交网络/A轮/上海</span>
          </div>
        </div>
    </div>
</div>



<div class="col-sm-6 col-md-4">
  <div class="job-box">
      <div class="caption">
        <a href="/job/31">
        <b>产品工程师</b> <span class="timesince">[5月前]</span>
        <p>经验3-5 年 学历博士</p>

        <span class="label label-default">具有</span>

        <span class="label label-default">的人</span>

        <span class="label label-default">简介</span>

        </a>
      </div>
      <hr>
      <div class="media">
        <div class="media-left">
          <a href="/company/6">
          <img class="media-object" src="https://static.lagou.com/thumbnail_160x160/image1/M00/00/16/CgYXBlTUWEaAaB5jAACYgc4pee4229.png" width="40" height="40" alt="...">
          </a>
          </div>
          <div class="media-body">
          <a href="/company/6">
          <h4 class="media-heading">果壳网</h4>
          </a>
          <span class="company-meta">移动互联网,社交网络/C轮/北京</span>
          </div>
        </div>
    </div>
</div>


</div>

<p class="list-more">
<a href="/job/" class="btn btn-success btn-lg list-more-btn">查看更多</a>
</p>

<ul class="nav nav-tabs list-title">
<li role="presentation" class="active"><a href="#">最新公司</a></li>
</ul>

<div class="company-list">


<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="/company/84">
      <img src="" width="100" height="100" alt="...">
      <h3>ctct</h3>
      <p></p>
    </a>
  <hr>
  <a href="/company/84/jobs">
    <p>在招职位：1</p>
  </a>
  </div>
</div>



<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="/company/81">
      <img src="" width="100" height="100" alt="...">
      <h3>tencent</h3>
      <p></p>
    </a>
  <hr>
  <a href="/company/81/jobs">
    <p>在招职位：0</p>
  </a>
  </div>
</div>



<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="/company/80">
      <img src="one logo is in here" width="100" height="100" alt="...">
      <h3>牛牛企业</h3>
      <p>None</p>
    </a>
  <hr>
  <a href="/company/80/jobs">
    <p>在招职位：2</p>
  </a>
  </div>
</div>



<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="/company/78">
      <img src="" width="100" height="100" alt="...">
      <h3>mazhiguo</h3>
      <p>None</p>
    </a>
  <hr>
  <a href="/company/78/jobs">
    <p>在招职位：0</p>
  </a>
  </div>
</div>



<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="/company/76">
      <img src="a" width="100" height="100" alt="...">
      <h3>阿里77</h3>
      <p>None</p>
    </a>
  <hr>
  <a href="/company/76/jobs">
    <p>在招职位：0</p>
  </a>
  </div>
</div>



<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="/company/72">
      <img src="1111111111111111" width="100" height="100" alt="...">
      <h3>张三三</h3>
      <p>None</p>
    </a>
  <hr>
  <a href="/company/72/jobs">
    <p>在招职位：0</p>
  </a>
  </div>
</div>



<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="/company/71">
      <img src="sssss" width="100" height="100" alt="...">
      <h3>shenjianeng</h3>
      <p>None</p>
    </a>
  <hr>
  <a href="/company/71/jobs">
    <p>在招职位：0</p>
  </a>
  </div>
</div>



<div class="col-sm-6 col-md-3 company-item">
  <div class="thumbnail">
    <a href="/company/68">
      <img src="" width="100" height="100" alt="...">
      <h3>妹妹卖萌无限公司</h3>
      <p></p>
    </a>
  <hr>
  <a href="/company/68/jobs">
    <p>在招职位：0</p>
  </a>
  </div>
</div>


</div>

<p class="list-more">
<a href="/company/" class="btn btn-success btn-lg list-more-btn">查看更多</a>
</p>



{% endblock %}